.donations-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 50%;
}
.donation-items-list {
  width: 95%;
}

.donations-title-dash {
  margin-bottom: 0;
}

.MuiTypography-body1 {
  font-family: "Hind Madurai", sans-serif !important;
}
