.donations-receiver-button {
  Button {
    font-family: "Hind Madurai", sans-serif;
    background-color: #0e212f;
    margin: 20px;
    color: #f0efec;
  }

  Button:hover {
    font-weight: 700;
    background-color: #3891a6;
  }
}

.total-donations {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin-top: 0;
  }
}

// Payment details card layout
.MuiButton-textPrimary {
  font-family: "Hind Madurai", sans-serif !important;
}
.MuiTypography-h6 {
  font-family: adobe-caslon-pro,  serif !important;
  color: #0e212f !important;
}
.MuiInputBase-root {
  font-family: "Hind Madurai", sans-serif !important;
}
