.donations-receiver-button {
  Button {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    background-color: #3891a6;
    margin: 20px;
    color: #f0efec;
    font-size: 1rem;
  }
  Button:hover {
    background-color: #0e212f;
  }
}
