.receiver-followers-dash {
  display: flex;
  width: 80%;
  margin: 0 10%;
  justify-items: center;
  align-items: center;
}
.wishlist-donations-section {
  display: flex;
  width: 80%;
  margin: 0 10%;
}

/* HEADER */
.header-receiver-dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0 auto;
  padding: 40px 0;
}
.profile-header {
  display: flex;
  align-items: center;
  img {
    height: 100px;
    border-radius: 50%;
    border: 1px solid #0e212f;
  }
}

.profile-description {
  text-align: justify;
  width: 70%;
  padding-left: 130px;
  p {
    margin: 0;
  }
}
.receiver-read-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.receiver-read-more:hover {
  cursor: pointer;
  color: #3891a6;
  font-weight: 600;
}
.receiver-link-more {
  font-style: italic;
  font-size: 14px;
  padding-right: 20px;
}

/* VOLUNTEERING SECTION */

.volunteering-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.volunteering-heading {
  font-family: "adobe-caslon-pro, serif";
  font-weight: "700";
  font-size: "1.3rem";
  padding-top: 30px;
}

.participate-event {
  margin-left: 50px;
}
