.wishlist-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 50%;
}

.wishlist-items-list {
  width: 95%;
}

.category-item {
  font-size: 25px !important;
  margin: 5px 20px 0 0;
  padding-right: 6px;
}

.wishlist-title {
  margin-bottom: 0;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.MuiFormLabel-root {
  font-family: "Hind Madurai", sans-serif !important;
}
