@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600;700&family=Montserrat:wght@600;900&family=Trirong:ital@1&display=swap");
@import url("https://use.typekit.net/tbt8lgq.css");

.App {
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  color: #0e212f;
}
