@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600;700&family=Montserrat:wght@600;900&family=Trirong:ital@1&display=swap');

.App {
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  color: #0E212F;
}
