.categories-section{
  display: flex;
  flex-direction: column;
  height: 400px;
}
.first-four{
  display: flex;
  justify-content: space-evenly;
}
.second-four{
  display: flex;
  justify-content: space-evenly;
}
