.newslog-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.newslog-heading {
  // display: block;
  // height: 50px !important;
  margin-bottom: 0;
}

.news-items {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  font-family: "Hind Madurai", serif;
  font-weight: 400;
  font-size: 16px;
  .newslog-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
  }
}

.newslog-item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  text-align: justify;
}

.news-arrow {
  height: 20px;
}
.read-more {
  display: flex;
  align-items: center;
}
.read-more:hover {
  cursor: pointer;
  color: #3891a6;
  font-weight: 600;
}
.news-link-more {
  font-style: italic;
  font-size: 14px;
  padding-right: 20px;
}
