.newslog-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 30px 10%;
  z-index: 3;
}

.newslog-heading {
  display: block;
  height: 50px !important;
}

.news-items{
  display: flex;
  flex-direction: column;
  .newslog-avatar{
    height:50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black
  }
}

.newslog-item{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}
