.search-section{
  display: flex;
  align-items: center;
  justify-content: center;
  // margin:20px;
  width: 80%;
  margin: 0 10%;
}
.search-text-feild{
display: flex;
justify-content: space-between;
}


