.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 130px 10% 0 10%;
}
.search-text-feild {
  display: flex;
  justify-content: space-between;
}

.MuiInputBase-input {
  box-shadow: none;
}
