.donations-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 50%;
  // margin: 0 10%;
}
.donation-items-list {
  width: 95%;
  margin-right: 7px;
}

.donations-title {
  margin: 0 0 65px 0;
}
