.donations-receiver-button {
  display: flex;
  justify-content: space-around;
  // width: 80%;
}

.edit-amount-form {
  width: 182px !important;
  height: auto;
  Button {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    background-color: #3891a6;
    // margin: 20px;
    color: #f0efec;
    font-size: 1rem;
  }
  Button:hover {
    background-color: #0e212f;
  }
}

.total-donations-receiver {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin-top: 0;
  }
}
