.receiver-followers {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}
.wishlist-donations-section {
  display: flex;
  // justify-content: space-around;
  // height: 600px;
  width: 80%;
  margin: 0 10%;
}
