.total-followers-box {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.total-followers {
  color: #ffff20;
  margin: 0;
  font-size: 45px;
  font-weight: 900;
  height: 47px;
  h2 {
    margin-top: 0px;
  }
}
