.wishlist-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 80%;
  margin: 0 10%;
}

.wishlist-items-list {
  width: 95%;
  margin-right: 7px;
}

// .add-wish-btn {
//   // position: -webkit-sticky;
//   // position: sticky;
//   // top: 1rem;
//   // right: 0.5rem;
//   // font-size: 20px;
//   // align-self: flex-start;
// }

// .add-wish-btn:hover {
//   color: "#3891A6";
//   cursor: "pointer";
// }
