.wishlist-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  width: 50%;
}

.wishlist-items-list {
  width: 95%;
  margin-right: 7px;
}

.category-item {
  font-size: 25px !important;
  margin: 5px 20px 0 0;
  padding-right: 6px;
}
