.activity-feed-section {
  margin: 0 0 0 10px;
  flex-grow: 3;
}
.activity-feed-header {
  font-family: "Trirong", serif;
}

.activity-feed-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 30px;
  i {
    padding-right: 30px;
  }
  p {
    padding-right: 20px;
    font-size: 18px;
  }
  .activity-feed-timestamp {
    font-style: italic;
    font-size: 16px;
  }
}
