.activity-feed-section {
  display: flex;
  justify-content: space-evenly;
  // height: 600px;
  width: 50%;
}
.donated-items-list {
  // width: 95%;
  // margin-right: 7px;
  // margin: auto;
  width: 70%;
  margin: 0 auto;
}

.activity-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon-header {
  padding-left: 20px;
  height: 25px;
}
