.following-activity {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.volunteering-recommendations {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
