.following-section {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto 10px auto auto;
}

.list-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 50px;
  width: 80%;
  margin: auto;
}

.following-header {
  margin-bottom: 0px;
}
