.profile-header {
  display: flex;
  align-items: center;
  img {
    height: 100px;
    border-radius: 50%;
    border: 1px solid #0e212f;
  }
  margin: 20px 10%;
}

.profile-greeting {
  padding-left: 30px;
  font-family: "Trirong", serif;
  margin-bottom: 0;
}
