.recommendations-section {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  width: 80%;
  margin: 30px;
}

.recommendation-avatar {
  height: 50px;
  width: auto; 
  border-radius: 50px;
}

.recommendation-name {
  font-size: small;
  width: 130px;
}

.recommendations-heading{
  font-size: x-large;
}

.recommendations-items{
  width: auto;
  &:hover{
    cursor: pointer;
  }
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

