.recommendations-section {
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
  // height: 200px;
  // width: 80%;
  // margin: 5% 10%;
=======
  justify-content: space-evenly;
  height: 200px;
  width: 80%;
  margin: 30px;
>>>>>>> main
}

.recommendations-heading {
  // margin: 10px 0 0 20px; 
}
