.recommendations-section {
  justify-content: space-evenly;
  height: 200px;
  // width: 80%;
  margin: 30px 0 30px 30px;
}

.recommendation-avatar {
  height: 50px;
  width: auto;
  border-radius: 50px;
}

.recommendation-name {
  font-family: "Hind Madurai", sans-serif;
  padding: 0 10px;
}

.recommendations-heading {
  margin-top: 0;
}

.recommendations-items {
  width: auto;
  &:hover {
    cursor: pointer;
  }
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
