.information-links {
  padding: 30px;
  color: #0e212f;
  text-decoration: none;
}

.information-links:hover {
  color: #3891a6;
  font-weight: 900;
  font-size: 20px;
}

.homepage-links-section {
  margin: 10px 0 50px 0;
}
