.how-to-help-section{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #0E212F;
  color: #f0efec;
  padding: 0 0 0 50px;
  p{
    margin: 0 30px 50px;
    font-size: 20px;
  }
}

.information-heading{
  font-family: 'Trirong', serif;
}