.landing-section {
  background-color: #f0efec;
  padding: 30px 0;
  Button {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    background-color: #3891a6;
    margin: 20px;
    color: #f0efec;
    font-size: 1.15rem;
  }
  Button:hover {
    background-color: #0e212f;
  }
}

.landing-msg {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.make-a-difference {
  padding: 1% 10% 0 10%;
  width: 60%;
  align-self: center;
}
.hand-img {
  width: 50%;
  align-self: flex-end;
}

.landing-msg-helpbook {
  font-size: 50px;
  color: #0e212f;
}
