.footer-section {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  border-top: 1px solid #f0efec;
  i {
    padding: 0 10px;
  }
  i:hover {
    color: #3891a6;
    font-size: 20px;
    cursor: pointer;
  }
}

.copyrights {
  font-size: 12px;
  font-style: italic;
}
