.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  .logo-img {
    width: 50px;
    height: 50px;
  }

  .home-link {
    display: flex;
    align-items: center;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 35px;
      font-weight: 900;
      padding-left: 10px;
    }
  }
  .home-link:hover {
    cursor: pointer;
  }

  .login-signup {
    display: flex;
    list-style-type: none;
    font-weight: 900;
    font-size: 20px;
    .login-signup-links {
      margin: 20px;
    }
    .login-signup-links:hover {
      color: #3891a6;
      cursor: pointer;
    }
  }
}
