.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  // width: 90%;
  // margin: 0 auto;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  background-color: #fff;
  .logo-img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
  }

  .home-link {
    display: flex;
    align-items: center;
    h1 {
      // font-family: "Montserrat", sans-serif;
      font-family: adobe-caslon-pro,  serif;
      font-size: 35px;
      font-weight: 900;
      padding-left: 10px;
    }
  }
  .home-link:hover {
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    margin-right: 50px;
  }
}
.nav-links-text {
  margin: 20px;
}
.nav-links-text:hover {
  font-weight: 900;
  color: #3891a6;
  cursor: pointer;
}

.profile-dashboard {
  display: flex;
  align-content: space-between;
}

.logged-in {
  display: flex;
  align-items: center;
}

.username-logged {
  padding-right: 20px;
  font-style: italic;
}

.spacer {
  padding: 0 20px;
}
